@font-face {
  font-family: "iconfont"; /* Project id 5054889 */
  src: url('/static/iconfont/iconfont.woff2?t=t=1762392307421') format('woff2'),
       url('/static/iconfont/iconfont.woff?t=t=1762392307421') format('woff'),
       url('/static/iconfont/iconfont.ttf?t=t=1762392307421') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wodejianli:before {
  content: "\e609";
}

.icon-bendi:before {
  content: "\e63e";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-cha:before {
  content: "\e61b";
}

.icon-tianjiatupian:before {
  content: "\e61f";
}

.icon-cs-addpic:before {
  content: "\e600";
}

.icon-xiajiantou:before {
  content: "\e62b";
}

.icon-googlelogo:before {
  content: "\e608";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-icon-test:before {
  content: "\e669";
}

.icon-icon-test1:before {
  content: "\e66b";
}

.icon-icon-test2:before {
  content: "\e670";
}

.icon-icon-test3:before {
  content: "\e671";
}

.icon-icon-test4:before {
  content: "\e672";
}

.icon-yanjing:before {
  content: "\e6cf";
}

.icon-yanjing1:before {
  content: "\e6d1";
}

.icon-piliangcaozuo:before {
  content: "\e7f7";
}

.icon-paizhao:before {
  content: "\fe9f";
}

.icon-tupian:before {
  content: "\e67f";
}

.icon-biaoqing_xiao_o:before {
  content: "\eba9";
}

.icon-guanliyuan_jiaoseguanli:before {
  content: "\e612";
}

.icon-anquanzhongxin:before {
  content: "\10195";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-fanhui:before {
  content: "\e616";
}

.icon-shaixuan:before {
  content: "\e692";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-tuichudenglu:before {
  content: "\e61d";
}

.icon-shezhi:before {
  content: "\e621";
}

.icon-tuichudenglu1:before {
  content: "\e71e";
}

.icon-youjiantou:before {
  content: "\e633";
}

.icon-zaixianjianli:before {
  content: "\e627";
}

.icon-liulanlishi1:before {
  content: "\e629";
}

.icon-shoucang:before {
  content: "\e605";
}

.icon-jinghao:before {
  content: "\e660";
}

.icon-nv:before {
  content: "\e604";
}

.icon-xinjian2:before {
  content: "\e630";
}

.icon-xinjian1:before {
  content: "\e64b";
}

.icon-wo:before {
  content: "\e602";
}

.icon-nan:before {
  content: "\e668";
}

.icon-guangchang:before {
  content: "\ea70";
}

.icon-massage:before {
  content: "\e76d";
}

.icon-zudui:before {
  content: "\e61a";
}

