page{
    --dark-primary-color:#ff7b54;
    --light-primary-color:#FFE0B2;
    --primary-color:#FF9800;
    --accent-color:#03a9f4;
    --background-color:#FFFFFF;
    --text-size:15px;
    --text-color:#212121;
    --text-weight:400;
    --title-color:#212121;
    --title-size:17px;
}